{{ if (or (eq .input_cicd_platform `gitlab_actions`) (eq .input_cicd_platform `gitlab_actions_for_gitlab_enterprise_servers`)) }}
    {{ skip `.azure` }}
{{ else if (eq .input_cicd_platform `azure_devops`) }}
    {{ skip `.gitlab` }}
{{ end }}

{{ skip `update_layout` }}
